In [3]:
#importing dependensies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
#defining the path to the directory
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
#Visit the NASA Mars News to collect News Title & Paragraph
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

In [6]:
title = soup.find('div', class_= 'content_title').text
paragraph = soup.find('div', class_ = 'rollover_description_inner').text

print(f"Title: {title}")
print(f"Paragraph: {paragraph}")

Title:

NASA Finds Ancient Organic Material, Mysterious Methane on Mars


Paragraph:
NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.

In [7]:
#Visit the url for JPL featured space image
url_second = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_second)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

In [8]:
#use splinter to find the mars featured image
img = soup.find('a', class_ = 'fancybox') ['data-fancybox-href']
img_url = 'https://www.jpl.nasa.gov'+ img
print(img_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18914_ip.jpg

In [9]:
#Mars weather tweets
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#saving the tweet
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

Sol 2298 (2019-01-23), high -9C/15F, low -71C/-95F, pressure at 8.17 hPa, daylight 06:46-18:55pic.twitter.com/HNaq1Rjsoq

In [10]:
#Mars facts webpage scrape
facts_url = 'https://space-facts.com/mars/'

mars_info = pd.read_html(facts_url)
mars_info

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
mars = (mars_info[0])
mars.columns = ['Measure', 'Value']
mars

                Measure                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
mars_html = mars.to_html(classes = 'mars')
masr_html = mars_html.replace('\n', ' ')
print(mars_html)

<table border="1" class="dataframe mars">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Measure</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>